@use 'base' as *;
/* header styling */

/* pinned part styling */
.upper-header {
  background-color: $primary-color;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  height: 10vh;

  nav {
    align-self: center;
    ul {
      display: flex;
      gap: 3rem;
      margin-left: 1rem;

      li:hover {
        border: 2px solid $background-color;
      }

      li a {
        color: white;
      }
    }
  }

  .cart-button {
    height: 3rem;
    width: 3rem;
    .cart-icon {
      position: absolute;
      top: 50%;

      transform: translateY(-50%);
      fill: $background-color;
      font-size: 30px;
      z-index: 1;
    }
    .items-no {
      position: absolute;
      top: 50%;

      transform: translateY(-50%);
      border-radius: 50%;
      background-color: red;
      padding: 2px 5px;
      color: white;
      font-size: 8px;

      z-index: 2;
    }
  }
}

/* hero section stylying */
.hero {
  margin-top: 10vh;
  height: 90vh;
  background-image: url(../images/header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .hero-text {
    @include center;
    flex-direction: column;
    align-items: self-start;
    gap: 2rem;
    width: 60%;
    height: 100%;
    margin: 3rem;
    padding: 8rem 0rem 0rem 8rem;
    .heading {
      text-transform: uppercase;
      font-size: 2rem;
    }

    .sub-heading {
      text-transform: capitalize;
      color: $secondary-color;
    }
    .hero-button {
      @include button;
      &:hover {
        @include button-hover;
      }
    }
  }
}
